@import url("https://googleapis.com");
@import "tailwindcss";
@import "tw-animate-css";
/* ==========================================
   Reset
========================================== */

/* ─── Custom Fonts ─────────────────────────────────────────────────────────── */
@font-face {
  font-family: "QuariaDisplay";
  src: url("/fonts/QuariaTextTest-Regular-BF6417d830ce5c1.woff") format("woff");
  font-display: swap;
  font-weight: 100 999;
  font-style: normal;
}

@font-face {
  font-family: "QuariaDisplay";
  src: url("/fonts/QuariaTextTest-Regular-BF6417d830ce5c1.woff") format("woff");
  font-display: swap;
  font-weight: 100 999;
  font-style: italic;
}

@font-face {
  font-family: "Unica77";
  src: url("/fonts/CanelaText-LightItalic-Trial.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Unica77";
  src: url("/fonts/CanelaText-RegularNo2Italic-Trial.woff2") format("woff2");
  font-display: swap;
  font-weight: 500 999;
  font-style: normal;
}

@theme {
  --font-heading: "QuariaDisplay";
  --font-sub: "Unica77",Arial, sans-serif;
 --color-light: #e3e3db;
  --color-dark: #0f0f0f;
  --color-nachtblauw: #05275b;
  --color-nachtblauw-dark: #071831;
  --color-middernachtblauw: #0b2348;
  --color-wolkenwit: #fcfdfe;
  --color-hemelsblauw: #008aff;
  --color-helderblauw: #e3ebf1;
  --color-error: #ee5253;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 20 30;
}

html {
  scroll-behavior: smooth;
  background-color: #ffffff;
  color: #ffffff;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  /* font-family: "Unica77", ui-sans-serif, system-ui, sans-serif; */
  /* color: var(--color-nachtblauw); */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

/* cloud */
